<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    <style>
      #banner{
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
    <title>Tutorian Careers</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" mt-4 mb-4>{{company_name}} Careers</h1>
      <img class="img-fluid" id ="banner" src="https://tutorian-careers-website.krudliere.repl.co/static/banner.jpg" alt="banner" height="320">
      <h2 class="text-center mt-2 mb-2">About Tutorian</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sapien malesuada, porta nisl in, tempor ante. Nulla commodo pharetra enim quis fringilla. Nunc sit amet vestibulum est. Maecenas porttitor eu odio non pretium. In dictum urna nec feugiat aliquam. Duis vestibulum, odio eu aliquet dapibus, sem purus rutrum erat, nec ornare mi mauris ut nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
      <h2 class="text-center mt-2 mb-2">Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
          
      </div>
{% include 'footer.html' %}
  </body>
</html>